BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Left
BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveBitFields: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
EmptyLineBeforeAccessModifier: LogicalBlock
