[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/Vulkan-Loader"]
	path = deps/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
