# Ninja clutters
/build.ninja
/.ninja_log
/.ninja_deps

# Cached compiled Python bytecode
__pycache__/

# Visual Studio Code configuration files
.vscode/

# Compiliation outputs
vulkan-scene.exe
vulkan-scene

# Object files
/objects

# MSVC build clutters
*.ilk
*.pdb
*.exp

# Log files
*.log